/* Container */
.contact-container {
  /* background-color: #000; */
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Segoe UI', sans-serif;
  padding: 40px 20px;
}

/* Form */
.contact-form {
  background-color: #d6d5d5; /* silver base */
  color: black;
  padding: 30px 40px;
  border-radius: 12px;
  width: 100%;
  max-width: 500px;
  box-shadow: 0 0 12px rgba(192, 192, 192, 0.4);
}

/* Title */
.contact-form h2 {
  text-align: center;
  margin-bottom: 20px;
  color: black;
}

/* Labels */
.contact-form label {
  display: block;
  margin-bottom: 6px;
  font-weight: 500;
  color: black;
}

/* Inputs & Textarea */
.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 12px;
  margin-bottom: 20px;
  border: 1px solid #666;
  border-radius: 8px;
  background-color: white;
  color: black;
  font-size: 14px;
  resize: none;
}

/* Button */
.contact-form button {
  
  padding: 12px;
  background-color: black;
  color: silver;
  border: none;
  font-weight: bold;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s ease;
}

